%div.content
  %h1 About Us
  %p eSoft Consulting is a software-consulting firm based out of Palo Alto, CA
  %p We provide our clients with a full range of software development services, testing and customer support. Our specialists develop and manage a project during its entire life cycle. 
  %p We have experience developing applications for android, iOS, and desktop. Our expertise ranges from business and financial automation, mobile app development, e-commerce, automation of manufacturing processes, physical and mathematical simulation, content management, enterprise web security, and more. 
  %p All of our key employees have at least a Masters degree in Computer Science, Math, or Physics. We are smart, we are committed to service, and we are the bridge between a talented yet foreign developer team and our clients. 
  %p By splitting and outsourcing tasks between locations, we are able to work over a 24 hour development cycle and maintain high quality with comparably low prices.
  %p Please, check the #{link_to "complete list", expertise_path} of our services and give us a call for your free project quote.
  %br/
  %p
    %b Brian Joseff
  %p Director of Client Services
  %p 805-259-7624
  %p available 24/7