%div.content
  %h1 Contact Us
  %p
  %br/
  %p
    %b Brian Joseff
  %p Director of Client Services
  %p available 24/7
  %br/
  =mail_to "brianjoseff123@gmail.com", "Email Us", :cc => "alexbahel@gmail.com",:subject => "Interested in discussing your development offerings"

