%div.content
  %h1 Expertise
  %p 
    %b Problem analysis and design:
    Define product requirements, choose an architectural design, provide a critical priority and performance analysis, develop an implementation plan and test documentation including test plans, test suites, and test cases.

  %p 
    %b Project implementation:
    Develop source code with no critical errors.

  %p
    %b Solution testing:
    Locate software problems and report them in a standard clear and easy-to-reproduce manner. Perform regression, functional, internal, unit, application, usability, GUI, boundary, build acceptance, stress, installation, printing, network, security, software and hardware compatibility, validation and verification testing. Web and e-commerce testing, desktop applications testing, software certification, and test automation.

  %p 
    %b System maintenance:
    Web sites, databases, servers, and applications maintenance; provide patches and bug fixes, antiviral services.
    
  %h1 Technology:
  %ul
    %li Android
    %li iOS
    %li Web development frameworks
    %li Enterprise database systems
    %li AJAX
    %li CSS3/HTML5
    %li ASP.NET
    %p ...and more
    