%div.row
  =mail_to "brianjoseff123@gmail.com", "Contact us for a free quote", :cc => "alexbahel@gmail.com",:subject => "Free development quote", :body => "Tell us briefly about the idea and what services you think you need:", :class => "btn-large btn-custom"