%div.navbar.navbar-inverse.navbar-fixed-top
  %div.navbar-inner
    %div.container
      = link_to "eSoftConsult", root_path, :class => "brand"
      %div.nav-collapse.collapse
      %ul.nav.pull-right
        %li= link_to "work",  work_path
        %li= link_to "expertise", expertise_path
        / %li= link_to "pricing", pricing_path
        %li= link_to "contact", contact_path
        %li=link_to "about", about_path